
header {
  position: relative;
  height: 100px;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.top-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

.app-label {
  color: yellow;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.transparent-background { 
  background-color: rgba(0, 0, 0, 0);
}

