
<mat-tab-group>

  <mat-tab label="Parallax Scrolling">
    <main class="wrapper">
      <section class="section parallax bg1">
        <h1>Comfortable Rooms</h1>
      </section> 
      <section class="section static darken">
        <h1>Call to reserve - 1-800-111-2222</h1>
      </section>
      <section class="section parallax bg2">
        <h1>Living Room</h1>
      </section>
    </main>

  </mat-tab>


  <mat-tab label="Gallery">
    <mat-card *ngFor="let spaceScreen of spaceScreens; let i = index">
      <img mat-card-image src="{{ spaceScreen.img }}">
      <mat-card-content>
        <p>{{ spaceScreen.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="likeMe(i)">
          <i class="material-icons mat-18" [class.red-color]="spaceScreen.liked == '1'">favorite</i> LIKE
        </button>
        <button mat-button (click)="deleteMe(i)">
          <i class="material-icons mat-18">delete</i> DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <mat-tab label="Grid Layout">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </mat-tab>


</mat-tab-group>