/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';



body {
  padding: 0;
  margin: 0;
}


#page-padding {
    padding: 0 1.5em 1.5em 1.5em;
}
 